body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start,#numberofobjects,#status{
    font-size: 18px;
}
.copyrightfooter{
    position: fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    background-color: blue;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 2px solid beige;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px blueviolet;
}
